footer {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    color: white;
}

footer .left-section, footer .middle-section, footer .right-section {
    flex: 1;
}

footer .left-section ul, footer .right-section ul {
    list-style-type: none;
    padding: 0;
}

footer .left-section ul li, footer .right-section ul li {
    margin: 5px 0;
}

footer .middle-section {
    text-align: center;
}

footer .bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
}